<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>강의 상세 정보</title>
    <style>
        span.price {
            text-decoration: line-through;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>

        $(function () {

            $('#submitForm').on('submit', function() {

                if (!confirm(' 수강 신청을 하시겠습니까 ? ')){
                    return false;
                }

                var $thisForm = $(this);

                var url = '/api/course/req.api';
                var parameter = {
                    courseId: $thisForm.find('input[name=id]').val()
                };
                axios.post(url, parameter).then(function (response) {

                    console.log(response);

                    response.data = response.data || {};
                    response.data.header = response.data.header || {};

                    if (!response.data.header.result) {
                        alert(response.data.header.message);
                        return false;
                    }

                    // 정상적
                    alert(' 강좌가 정상적으로 신청이 되었습니다. ');
                    location.href = '/';


                }).catch(function (error) {
                    console.log(error);
                });

                return false;

            });
        });
    </script>
</head>
    <body>
        <h1>강의 상세 정보</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>

        <h2>강의명: <span th:text="${detail.subject}">강의</span></h2>

            <div th:utext="${detail.contents}">
            </div>

            <div>
                <p>가격 : <span th:text="${detail.price}"></span></p>
                <p>할인 가격 : <span th:text="${detail.salePrice}"></span></p>
            </div>

        <div>
            <img th:src="${detail.urlFilename}"/>
        </div>


        <div>
            <form id="submitForm" method="post">
                <input type="hidden" name="id" th:value="${detail.id}"/>
                <button type="submit">수강 신청하기</button>
                <a href="/course">강의목록으로 돌아가기</a>
            </form>
        </div>

    </div>



    </body>
</html>