<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.LoginHistoryMapper">


    <select id="logCntNumByUserId" resultType="long">
        select count(user_number)
        from login_history
        where user_id = #{userId}
    </select>

    <select id="logHistoryByUserId" resultType="com.zerobase.fastlms.admin.dto.LoginHistoryDto">
        select *
        from login_history
        where user_id = #{userId}

<!--        select *-->
<!--        from login_history-->
<!--        where user_id = 's110528@nate.com'-->
    </select>
</mapper>